   <h4 style='color: red'><%=flash[:error]%></h4>

<%= form_with model: user, url: user_post_comments_path, method: :post, class: 'add-comment-form', scope: :user do |f| %>
<div>
<%= f.label :comment%> <br/>
<%= f.text_area :text, placeholder: 'Put your comment here!', size: '50x10'%>
</div>
<%= f.submit "Add Comment", class: 'btn-comment button'%>
<%end%>

