<div class='post'>
<%= link_to user_post_path(post) , class:'user-link' do%>
<h2>Post Title: <%= post.title%> </h2>
<p class='post-desc'><%= post.text%></p>
<%end%>
<p>Comments: <%= post.comment_counter || 0%>, Likes: <%= post.like_counter || 0%></p>
</div>