<div class='detail-post'>
   <h4 style='color: green'><%=flash[:success]%></h4>
    <div class='top-detail'>
     <strong>Posts # <%=@post.id%> by <%= @post.author.name%></strong>
     <strong>Comments: <%= @post.comment_counter || 0%>, Likes: <%= Like.where(post: @post).size%></strong>
    </div>
    <p class='desc'><%=@post.text%></p>

   <div class='comment-like-container'>
    <%= link_to "Add Comment", new_user_post_comment_path(@post.author, @post), class: 'btn-comment button'%>
   <%= button_to "Like",user_post_likes_path(@post.author, @post), form_class: 'like', class: 'btn-like button' %>
   </div>

    <%= render 'comment', post: @post%>

</div>