<div class='detail-post'>

    <div class='top-detail'>
     <strong>Posts # <%=@post.id%> <%= @post.author.name%></strong>
     <strong>Comments: <%= Comment.where(post: @post).size%>, Likes: <%= Like.where(post: @post).size%></strong>
    </div>
    <p class='desc'><%=@post.text%></p>

    <%= render 'comment', post: @post%>

</div>