<header>
    <%= link_to users_path, class: 'logo' do%>
    <h1><strong><i>Siy Blog</i></strong></h1>
    <%end%>

    <ul>
        <%= link_to "User List", users_path, class:'nav-link'%> </li>
</ul>
        <div>
        <% if user_signed_in?%>
           <%= current_user.name%>

           <%# <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete } , class:'nav-link'  %> 
       <%= button_to 'logout', destroy_user_session_path, data: {turbo: false}, method: :delete, class: "btn btn-danger" %>

        <%else%>
        <%= link_to "Sign In", new_user_session_path ,class:'nav-link'%> 

        <%end%>
        </li>
    <%# </ul> %>
 
</header>